// sass --watch src/css/custom.scss src/css/custom.min.css --style compressed
@import "./particlesjs.scss";

@font-face {
  font-family: "Cascadia";
  src: url("../font/cascadia-webfont.woff") format("woff"),
    url("../font/cascadia-webfont.woff2") format("woff2"),
    url("../font/cascadia-webfont.ttf") format("truetype");
}
$black: rgba(
  $color: #000,
  $alpha: 1,
);
$monospace: "Cascadia", "Courier New", Courier, monospace;

* {
  font-family: "Cascadia", "Nunito Sans", -apple-system, system-ui,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $black;
}

.progress {
  border-radius: 290486px;
  border: 1px solid black;
}
.padding-0 {
  padding-top: 0;
  padding-bottom: 0;
  p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.margin-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card-footer {
  .columns {
    width: 100%;
  }
}

.container {
  width: 100%;
}

.card,
.button {
  .fab,
  .fas {
    margin-right: 1rem;
  }
}

.modal {
  .modal-card {
    max-width: calc(100% - 2rem);
    max-height: calc(100% - 2rem);
    .modal-card-head {
      border-bottom: 0;
      background-color: white;
    }
    .modal-card-body {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}

.section {
  padding: 0;

  .container {
    padding: 3rem 1.5rem;
  }
}

.maps {
  max-width: 300px;
  height: 200px;
  iframe {
    width: 100%;
  }
}

.footer {
  padding: 3rem 1.5rem;
}

.code {
  font-family: $monospace !important;
}

.is-hidden-mobile {
  margin-left: 1rem;
}

.navbar {
  background: $black !important;
  .container {
    .navbar-brand {
      .navbar-item {
        max-width: 25rem;
        max-height: 5rem;
        img {
          width: auto;
          height: auto;
          border-radius: 50%;
          margin-right: 1rem;
        }
        div {
          border: 2px;
          border-color: white;
          border-style: solid;
          padding: 0.5rem;
        }
      }
    }
    .navbar-menu {
      background-color: $black;
      .navbar-start {
        .navbar-item {
          .navbar-dropdown {
            background-color: $black;
          }
        }
      }
    }
  }
}
